* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  color: rgb(98, 98, 201);
  font-size: 48px;
}

.clu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 32px;
}

.clu-wrap {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.clu-wrap:first-child {
  margin-top: 0;
}

.clu-input {
  background-color: rgb(245, 245, 245);
  padding: 8px 16px;
  height: 100%;
  min-width: 400px;
  max-width: 500px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  font-size: 18px;
  color: rgb(100, 100, 100);
  outline: none;
  border: none;
}

.clu-label {
  position: relative;
  display: inline-block;
  padding: 8px;
  width: 115px;
  text-align: right;
  height: 100%;
  color: rgb(116, 116, 210);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: rgb(245, 245, 245);
}

.clu-label::before {
  content: "";
  border-left: solid 1px rgb(235, 235, 235);
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 10px;
}
